<div class="row">
	<div class="col-md-6 col-md-offset-3">		
		<h4>Log into Your Twitter Account</h4>		
		<div class="row">
			<div class="col-xs-12">
				<button ng-click="connectButton()" id="connectButton" type="button" class="btn btn-primary">Connect to Twitter</button>
				
				<button ng-click="refreshTimeline()" id="getTimelineButton" type="button" class="btn btn-info" style="display:none;">Get My Timeline</button>
				<button ng-click="signOut()" id="signOut" type="button" class="btn btn-link" style="display:none;">Sign Out</button>
				
			</div>
		</div>
	</div>
</div>